<p>about works!</p>
<h1>{{age}}</h1>
<button (click)="tangTuoi()">Tăng tuổi</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">fullName</th>
      <th scope="col">email</th>
      <th scope="col">yearOfBirth</th>
      <th scope="col">phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <th scope="row">{{item.id}}</th>
      <th scope="row">{{item.fullName}}</th>
      <th scope="row">{{item.email}}</th>
      <th scope="row">{{item.yearOfBirth}}</th>
      <th scope="row">{{item.phone}}</th>

    </tr>
  </tbody>
</table>
