<p>about works!</p>
<h1>{{age}}</h1>
<button (click)="tangTuoi()">Tăng tuổi</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">fullName</th>
      <th scope="col">email</th>
      <th scope="col">name</th>
      <th scope="col">city</th>
      <th scope="col">street</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <th scope="row">{{item.id}}</th>
      <th scope="row">{{item.username}}</th>
      <th scope="row">{{item.email}}</th>
      <th scope="row">{{item.name}}</th>
      <th scope="row">{{item.address.city}}</th>
      <th scope="row">{{item.address.street}}</th>

    </tr>
  </tbody>
</table>
<a [routerLink]="['list']" routerLinkActive="router-link-active link-active">About List</a>&nbsp;
<a [routerLink]="['register']" routerLinkActive="router-link-active link-active">About Register</a>&nbsp;

<router-outlet></router-outlet>
